In [109]:

import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression 
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import mean_squared_error, mean_absolute_error 
from sklearn import preprocessing 
df=pd.read_csv('Books_Data_Clean.csv')

scaler = StandardScaler()

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070 entries, 0 to 1069
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                1070 non-null   int64
 1   Publishing Year      1069 non-null   float64
 2   Book Name            1047 non-null   object
 3   Author               1070 non-null   object
 4   language_code        1017 non-null   object
 5   Author_Rating        1070 non-null   object
 6   Book_average_rating  1070 non-null   float64
 7   Book_ratings_count   1070 non-null   int64
 8   genre                1070 non-null   object
 9   gross sales          1070 non-null   float64
 10  publisher revenue    1070 non-null   float64
 11  sale price           1070 non-null   float64
 12  sales rank           1070 non-null   int64
 13  Publisher            1070 non-null   object
 14  units sold           1070 non-null   int64
dtypes: float64(5), int64(4), object(6)
memory usage: 125.5+ KB

In [111]:
df.isna().sum()

index                   0
Publishing Year         1
Book Name              23
Author                  0
language_code          53
Author_Rating           0
Book_average_rating     0
Book_ratings_count      0
genre                   0
gross sales             0
publisher revenue       0
sale price              0
sales rank              0
Publisher               0
units sold              0
dtype: int64

In [112]:
df=df.dropna()

In [113]:
df.columns

Index(['index', 'Publishing Year', 'Book Name', 'Author', 'language_code',
       'Author_Rating', 'Book_average_rating', 'Book_ratings_count', 'genre',
       'gross sales', 'publisher revenue', 'sale price', 'sales rank',
       'Publisher ', 'units sold'],
      dtype='object')

In [114]:
df.columns=['index','publishing year','book name','author','language_code','author_rating','book_average_rating','book_rating_count','genre','gross sales',
'publisher revenue','sale price','sales rank','publisher','units sold']

In [115]:
df=df.drop('index', axis=1)
categorical_columns=['book name','author','language_code','author_rating','genre','publisher']

numerical_columns=['publishing year','book_average_rating','book_rating_count','gross sales','publisher revenue','sale price','sales rank','units sold']

In [116]:

label_encoder = LabelEncoder()
for column in categorical_columns:
    df[column] = label_encoder.fit_transform(df[column])

In [117]:
df.head()

,publishing year,book name,author,language_code,author_rating,book_average_rating,book_rating_count,genre,gross sales,publisher revenue,sale price,sales rank,publisher,units sold
0,1975.0,96,662,3,3,3.42,155903,2,34160.0,20496.0,4.88,1,3,7000
1,1987.0,84,204,4,2,4.23,145267,2,12437.5,7462.5,1.99,2,3,6250
2,2015.0,275,235,4,3,3.31,138669,2,47795.0,28677.0,8.69,3,0,5500
3,2008.0,945,152,3,2,4.04,150898,1,41250.0,24750.0,7.50,3,1,5500
4,2011.0,164,407,4,2,4.04,198283,2,37952.5,22771.5,7.99,4,6,4750

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 998 entries, 0 to 1069
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   publishing year      998 non-null    float64
 1   book name            998 non-null    int32
 2   author               998 non-null    int32
 3   language_code        998 non-null    int32
 4   author_rating        998 non-null    int32
 5   book_average_rating  998 non-null    float64
 6   book_rating_count    998 non-null    int64
 7   genre                998 non-null    int32
 8   gross sales          998 non-null    float64
 9   publisher revenue    998 non-null    float64
 10  sale price           998 non-null    float64
 11  sales rank           998 non-null    int64
 12  publisher            998 non-null    int32
 13  units sold           998 non-null    int64
dtypes: float64(5), int32(6), int64(3)
memory usage: 93.6 KB

In [119]:
df.isna().sum()

publishing year        0
book name              0
author                 0
language_code          0
author_rating          0
book_average_rating    0
book_rating_count      0
genre                  0
gross sales            0
publisher revenue      0
sale price             0
sales rank             0
publisher              0
units sold             0
dtype: int64

In [120]:
df.

SyntaxError: invalid syntax (791285630.py, line 1)

In [121]:
from sklearn.model_selection import train_test_split
X=df.drop('gross sales', axis=1)
y=df['gross sales']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=42)

In [122]:
model=LinearRegression().fit(X_train,y_train)

In [125]:
print ('mse', mean_squared_error(y_test, model.predict(X_test)))
print('mae',mean_absolute_error(y_test, model.predict(X_test)))
print('score',model.score(X_train,y_train))

mse 2475398.822119683
mae 778.432804073813
score 0.8012868970012411